// style.scss
// ==============

//Compass imports
// list of imports available can be found here: http://compass-style.org/reference/compass/
@import 'compass';
@import 'compass/reset';
@import 'compass/css3'; // cross browser mixins that take advantage of available pre-spec vendor prefixes

//Core partials
@import 'variables';
@import 'mixins';
@import 'base';
@import 'sections';


.header {

}

.article {
  border: 1px solid grey;
  padding: 20px;
  font-family: arial, sans-serif;
}

.footer {

}

.h1 {

}

.h2 {

}

.h3 {

}

.h4 {

}

.h5 {

}

.key {
  margin: 100px 0px;
}
